/* google font */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');


/* root styles */
:root {
    --fs-22: 22px;
    --fs-24: 24px;
    --fw-500: 500;
    --fw-600: 600;
    --primary-golden: #FFCB45;
    --primary-black: #1d1d1d;
    --text-light: rgba(29, 29, 29, 0.7);
}

/* custom btn */
.custom-btn {
    color: var(--primary-black);
    font-size: 14px;
    font-weight: var(--fw-600);
    text-decoration: none;
    background: var(--primary-golden);
    border: none;
    padding: 10px 24px;
    border-radius: 50px;
}

/* Global styles */
* {
    margin: 0;
    padding: 0;
}

/* "Readex Pro" font for entire body */
body {
    font-family: "Readex Pro", sans-serif;
}

/* Container Styles */

/* Main style starts here */
.logo-area {
    display: flex;
    align-items: center;
}
/* logo text */
.logo-area > h4 {
    color: var(--prime-color);
    font-size: var(--fs-24);
    font-weight: var(--fw-600);
}

/* logo image */
.logo-area > img {
    width: 47px;
    height: 47px;
}

/* Primary menu styles */
ul {
    display: flex;
    column-gap: 37px;
}
ul > .list-item {
    list-style: none;
}

.link-item {
    color: var(--text-light);
    text-decoration: none;
    font-size: var(--fs-22);
}
.active {
    color: var(--primary-black);
    border-bottom: 4px solid var(--primary-golden);
    border-radius: 4px;
}

/* client area styles */
.client-area {
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.client-icon {
    color: var(--primary-black);
    font-size: var(--fs-24);
}

/* signin area */
.signin-icon {
    font-size: 18px;
}
.btn-spacing {
    display: flex;
    column-gap: 16px;
}