/* google font */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');


/* root styles */
:root {
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-32: 32px;
    --fs-28: 28px;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --primary-golden: #FFCB45;
    --primary-black: #1d1d1d;
    --text-light: rgba(29, 29, 29, 0.7);
    --text-center: center;
}

/* container styles */
.container {
    max-width: 1180px;
    margin: 0 auto;
}
/* custom btn */
.custom-btn {
    color: var(--primary-black);
    font-size: 14px;
    font-weight: var(--fw-700);
    text-decoration: none;
    background: var(--primary-golden);
    border: none;
    padding: 10px 24px;
    border-radius: 50px;
}

/* custom color */
.custom-color {
    color: var(--primary-golden);
}

/* section styles */
.section-subtitle {
    color: var(--primary-golden);
    font-size: var(--fs-22);
    font-weight: var(--fw-500);
}
.section-title {
    color: var(--primary-black);
    font-size: var(--fs-32);
    font-weight: var(--fw-700);
    padding: 8px 26px;
}
.section-description {
    color: var(--text-light);
    font-size: var(--fs-22);
    font-weight: var(--fw-500);
    padding-bottom: 32px;
}
.description-width {
    width: 611px;
    margin: 0 auto;
}

/* text center */
.text-center {
    text-align: var(--text-center);
}


/* Global styles */
* {
    margin: 0;
    padding: 0;
}

/* "Readex Pro" font for entire body */
body {
    font-family: "Readex Pro", sans-serif;
}


/* Main style starts here */

/* header styles */
header {
    background: #FFF9EA;
}

/* Nav area styles */
.nav-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

/* logo styles */
.logo-area {
    display: flex;
    align-items: center;
}
/* logo text */
.logo-area > h4 {
    color: var(--prime-color);
    font-size: var(--fs-24);
    font-weight: var(--fw-600);
}

/* logo image */
.logo-area > img {
    width: 47px;
    height: 47px;
}

/* Primary menu styles */
ul {
    display: flex;
}
ul > .list-item {
    list-style: none;
}

.link-item {
    color: var(--text-light);
    text-decoration: none;
    font-size: var(--fs-22);
    padding: 10px 30px;
}
.menu-bar ul li a.active,
.menu-bar ul li a:active {
    color: var(--primary-black);
    border-radius: 4px;
    background: var(--primary-golden);
}
.menu-bar ul li a:hover {
    color: var(--primary-black);
    border-radius: 4px;
    background: var(--primary-golden);
}

/* client area styles */
.client-area {
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.client-icon {
    color: var(--primary-black);
    font-size: var(--fs-24);
}

/* signin area */
.signin-icon {
    font-size: var(--fs-18);
}
.btn-spacing {
    display: flex;
    column-gap: 16px;
}
.btn-spacing,.client-icon:hover {
    cursor: pointer;
}

/* banner section styles */
#banner-area {
    background-image: url(../images/banner-bg.png);
    background-size: cover;
    background-position: center center;
    padding:30px 0 80px;
}
.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.banner-title {
    max-width: 480px;
    font-size: 48px;
    font-weight: var(--fw-600);
}
.banner-description {
    max-width: 440px;
    color: var(--text-light);
    font-size: var(--fs-18);
    padding: 22px 0;
}

/* what we serve styles */
#what-we-serve-area {
    padding: 36px 0;
}

.our-service-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 36px;
}
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 156px;
}
.service-title {
    color: var(--primary-black);
    padding: 24px 0 15px;
    font-size: var(--fs-28);
}
.service-description {
    color: var(--text-light);
    font-size: var(--fs-20);
    font-weight: var(--fw-500);
}

/* our popular menu styles */
#menu-item-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 50px 0;
}
.menu-item {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #F1F1F1;
    padding: 14px 25px;
    border-radius: 8px;
}
.menu-item img {
    width: 230px;
    height: 230px;
}
.menu-item-name {
    font-size: var(--fs-20);
    padding: 14px 0 5px;
}
.menu-item-description {
    color: var(--text-light);
    padding-bottom: 13px;
}
.menu-item-info {
    display: flex;
    justify-content: space-between;
}
.item-price {
    color: var(--primary-black);
    font-size: var(--fs-22);
    font-weight: var(--fw-500);
}
.heart-icon {
    color: var(--text-light);
}


/* customer review section styles */
#customer-review-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 100px 50px;
}
.review-section-title {
    width: 480px;
    padding: 0;
}
.second-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
}
.first-row img {
    width: 430px;
    border-radius: 10px 10px 0px 0px;
}
.second-row img {
    width: 208px;
    border-radius: 0px 0px 10px 10px;
}

.customer-review {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 24px 0;
}
.review-text {
    width: 412px;
    color: var(--text-light);
    font-size: var(--fs-18);
}

/* newsletter section starts here */
#newsletter-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/newsletter.png);
    padding: 92px 0;
    border-radius: 10px;
}
.newsletter-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: var(--text-center);
}
.newsletter-title {
    width: 524px;
    color: #fff;
    font-size: var(--fs-32);
    font-weight: var(--fw-700);
    margin-bottom: 30px;
}

/* footer styles */
footer {
    background: url(../images/footer-bg.png) no-repeat center center / cover;
    margin-top: 100px;
    padding-top: 100px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 100px 0;
}
.footer-logo {
    display: flex;
    align-items: center;
}
.footer-title {
    color: var(--primary-black);
    font-size: var(--fs-20);
    font-weight: var(--fw-500);
}
.footer-text {
    width: 380px;
    color: var(--text-light);
    font-size: var(--fs-18);
    padding: 20px 0;
}
.social-icon > span {
    width: 45px;
    height: 48px;
}
.social-icon > i {
    padding: 10px;
    font-size: 22px;
    background: #fff;
    border-radius: 50px;
}
.social-icon > i:hover {
    background: var(--primary-golden);
}

/* footer list */
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding-top: 30px;
}
.footer-list > a {
    color: var(--text-light);
    font-size: var(--fs-18);
    text-decoration: none;
}
.get-in-touch {
    margin-bottom: 25px;
}
.contact-info {
    color: var(--text-light);
    font-size: var(--fs-18);
    padding: 10px 0;
}
.copyright-text {
    text-align: var(--text-center);
    padding: 45px 0;
}


/* media query styles for small device*/
@media only screen and (max-width: 900px) {
    .tomato {
        background: tomato;
    }
    /* .none {
        display: none;
    } */
    .nav-area {
        margin: 0;
    }
    .logo-area > h4  {
        font-size: var(--fs-20);
    }
    .logo-area > img {
        width: 47px;
        height: 47px;
    }
    .hamburger {
        display: none;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        margin: 6px 0;
        background: var(--primary-black);
        border-radius: 30px;
    }
    .menu-bar ul li a {
        color: #fff;
    }
    .menu-bar ul li a.active, .menu-bar ul li a:active {
        color: var(--primary-golden);
        border: none;
        background: #fff;
    }
    .menu-bar {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vh;
        height: 0;
        background: var(--primary-black);
        transition: 0.2s;
        overflow: hidden;
    }
    .menu-bar.active {
        height: 450px;
    }
    .menu-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0;
        text-align: var(--text-center);
        transition: 0.5s;
        /* opacity: 0; */
    }
    .menu-bar ul  li a {
        display: block;
        margin-bottom: 6px;
        padding: 10px 0;
    }
    .client-area {
        display: none;
    }

    /* banner styles */
    .banner-content {
        flex-direction: column-reverse;
    }

    /* our service styles */
    .our-service-area {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    /* our menu item */
    #menu-item-area {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin: 0 20px;
    }
    .menu-item {
        width: 280px;
    }

    #customer-review-area {
        flex-direction: column;
    }
    .first-row img{
        width: 564px;
    }
    .second-row img {
        width: 264px;
    }
    .footer-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0 15px 20px;
    }
}
/* media query styles for mobile */
@media only screen and (max-width: 600px) {
    .banner-content {
        flex-direction: column-reverse;
    }
    .banner-text-area, .collage-image-area, #newsletter-area {
        margin: 0 15px;
    }
    .banner-title {
        width: 80%;
        font-size: var(--fs-28);
    }
    .banner-image-area img {
        width: 100%;
    }
    .section-description {
        font-size: var(--fs-18);
    }
    .description-width {
        width: 90%;
    }
    .our-service-area {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    #menu-item-area {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 20px;
    }
    /* main section styles */
    .first-row, .second-row > img {
        border-radius: 10px;
    }
    .first-row img {
        width: 100%;
    }
    .second-row {
        flex-direction: column;
    }
    .second-row img {
        width: 100%;
    }
    #customer-review-area {
        flex-direction: column;
        gap: 30px;  
        padding: 50px 0; 
    }
    .review-section-title {
        width: 320px;
        font-size: var(--fs-24);
        margin: 0 auto;
        text-align: var(--text-center);

    }
    .section-subtitle {
        text-align: var(--text-center);
    }
    .newsletter-title {
        width: 90%;
        font-size: var(--fs-28);
        text-align: var(--text-center);
    }
    /* footer styles */
    footer {
        padding-top: 50px;
    }
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        padding:10px 15px 30px;
        gap: 30px;
    }
    .footer-list {
        padding-top: 10px;
    }
    .get-in-touch {
        margin-bottom: 10px;
    }
    .contact-info {
        padding: 3px 0;
    }
    .copyright-text {
        padding: 20px 0;
    }
    #banner-area, main, footer {
        display: none;
    }
}